
.a-logo {
  filter: invert(100%);
  width: 65px;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle
}

.a-flip {
  transform: scaleX(-1);
}

.a-pad {
  margin-bottom: 10px;
  width: 200px;
  height: 125px;
}

.a-lead {
  margin-bottom: 10px;
  width: 200px;
  height: 530px;
}

.a-disc {
  margin-bottom: 10px;
  width: 125px;
  height: 125px;
}
